.card {
  padding: 1rem;
  margin: 5px auto;
}

.time {
  font-size: 16px;
  color: #fff;
}

.title {
  margin: 1rem auto;
  margin-top: 5px;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.card::after {
  content: "";
  width: 100%;
  height: 15px;
  display: block;
  position: relative;
  background-size: auto 3px;
  background-position: 100% 100%;
  background-image: url(/line.svg);
  background-repeat: repeat-x;
}

.description {
  color: #fff;
  font-size: 20px;
}
